<?xml version="1.0"?>
<configuration>
  
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="OneSignalAppId" value="1c8cbdb3-6dee-4448-86b1-e3fb67588ee1"/>
    <add key="OneSignalAppAPI" value="YTJlY2RlYzgtOGI0Ny00MmY2LTlmMDAtNGMzMWNhNzE3NzQy"/>
    <add key="ismsUsername" value="etking"/>
    <add key="ismsPassword" value="etking19"/>
    <add key="bypassAuthentication" value="1"/>
    <add key="AdminPageUrl" value="http://admin.justlorry.com"/>
    <add key="GoLorryAppUrl" value="https://play.google.com/store/search?q=com.justlogistic.driver"/>

    <add key="AuthorizationToken" value="justPartnerApp"/>
  
    <add key="SuperAdminUserId" value="0"/>
  
  </appSettings>
  <connectionStrings>

    <!--<add name="justDb" connectionString="Server=localhost;Port=3366;Database=db_justgonetwork;Uid=justgonetwork;Pwd=JUST2016go;"/>-->
    
    <add name="JustGoNetworkDB" connectionString="Server=localhost;Port=3306;Database=justlorry;Uid=root;Pwd=;"/>
    
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <customErrors mode="Off"/>
    <!-- To enable PUT and DELETE verb in IIS -->
    <authentication mode="Forms" />
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="WcfServiceBehavior" name="WcfService.AjaxService">
        <endpoint address="" 
                  behaviorConfiguration="WcfService.AspNetAjaxBehavior" 
                  binding="webHttpBinding" 
                  name="webHttpBinding" 
                  contract="WcfService.IAjaxService"
                  />
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="webHttpBinding" crossDomainScriptAccessEnabled="true" />
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="WcfService.AspNetAjaxBehavior">
          <webHttp defaultBodyStyle="Wrapped"
                   defaultOutgoingResponseFormat="Json"/>
          <!--<CorsSupport />-->
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="WcfServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer ignoreExtensionDataObject="true" maxItemsInObjectGraph="123456" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--<extensions>
      <behaviorExtensions>
        <add name="CorsSupport" type="WebHttpCors.CorsSupportBehaviorElement, WebHttpCors, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>-->
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <standardEndpoints>
      <webScriptEndpoint>
        <standardEndpoint name="" crossDomainScriptAccessEnabled="true" />
      </webScriptEndpoint>
      <webHttpEndpoint>
        <standardEndpoint name="" crossDomainScriptAccessEnabled="true" automaticFormatSelectionEnabled="true" helpEnabled="true"></standardEndpoint>
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="BasicAuthHttpModule" type="WcfService.BasicAuthHttpModule"/>
    </modules>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="EntityFramework" publicKeyToken="B77A5C561934E089" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
